body {
    background-color: #FFBE56;
    text-align: center;
}

header{
     background-color: #FFBE56;
}

main {

    background-color: rgb(239,25,123);
}

footer {
   background-color: #FFBE56;
}
h1 { color:black;
    font: size 50px;
}
b {
	color: #FFBE56;
	font-size: 50px ;
}

i { color:#FFBE56;
 }
