body {
    background-color: #FFBE56;
    font-family: 'Marhey', cursive;
    
}

header{
     background-color: #FFBE56;
}

h1,h2,h3,h4,h5,h6,p,ul{
    padding: 10px;
    margin:  10px;

}
body h2 {

font-size: 1em;
font-weight: bold;
font-family: 'Marhey', cursive;
}

 h1 {
font-size: 32px;
font-weight: bolder;
}

.logo{
    width: 200px;
    height: 200px;
}

.menu{
    position: absolute;
    top: 90px;
    right: 150px;
}

p::first-letter{ 

    color:rgb(239,25,123);
    font-size: 1.5em;

}
nav li{
    list-style: none;
    display: inline;
    margin-left: 10px;
}

nav a{
 text-decoration:none;
 text-transform: uppercase;
 font-size: 32px;
 

}

nav a:hover {
 
    text-decoration: underline;
    font-size: 34px;
    transition: 0.5s;


}

nav a:visited {

    color: rgb(239,25,123);
}

#imagemprincipal {

    width: 100%;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
main {

    background-color: rgb(239,25,123);
}

footer {
    background-size: 10%;
    height: 200px;
   background-color: #FFBE56;
   background-image: url(https://static.vecteezy.com/system/resources/previews/001/191/756/non_2x/square-pattern-png.png);
}

.momentos{
    background-color: #F783CB;
    margin: 10px;
    padding: 10px;
    border: black 2px;
    border-style:solid;
    border-radius: 100px;
  
}

.imagemlateral {
    display: inline-block;
    width: 30%;
    height: inherit;
    margin: 20px;
    opacity: 70%;
}

.imagemlateral:hover{
    opacity: 100%;
    transform: scale(1.2);

}
.imagemlateral:active {
transform: scale(0.8);

}

button {

    background-color: black;
    color: blanchedalmond;

}

button:active{
    transform: scale(0.8);

}
.lista {
    display: inline-block;
    width: 30%;
    height: inherit;
    vertical-align: top;
    font-size: 40px;
    list-style: square;

}
.historia{
background-color: gray;

}

.imagemlista{

    width: 200px;
    height: 150px;
}