body {
    background-color: #FFBE56;
    font-family: 'Marhey', cursive;
    
}

header{
     background-color: #FFBE56;
}

h1,h2,h3,h4,h5,h6,p,ul{
    padding: 10px;
    margin:  10px;

}
body h2 {

font-size: 1em;
font-weight: bold;
font-family: 'Marhey', cursive;
}

 h1 {
font-size: 32px;
font-weight: bolder;
}

.logo{
    width: 200px;
    height: 200px;
}

.menu{
    position: absolute;
    top: 90px;
    right: 150px;
}
nav li{
    list-style: none;
    display: inline;
    margin-left: 10px;
}

nav a{
 text-decoration:none;
 text-transform: uppercase;
 font-size: 36px;
 

}

#imagemprincipal {

    width: 100%;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
main {

    background-color: rgb(239,25,123);
}

footer {
   background-color: #FFBE56;
}

.momentos{
    background-color: #F783CB;
    margin: 10px;
    padding: 10px;
    border: black solid 2px;
}

.imagemlateral {
    display: inline-block;
    width: 30%;
    height: inherit;
    margin: 20px;
}
.lista {
    display: inline-block;
    width: 30%;
    height: inherit;
    vertical-align: top;
    font-size: 40px;
    list-style: square;

}
.historia{
background-color: gray;

}

.imagemlista{

    width: 200px;
    height: 150px;
}